body {
    background-color: #0a3f78;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}

form {
    background: black;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    max-width: 500px;
    margin: 0 auto;
}

fieldset {
    border: none;
    border-top: 4px solid #0a3f78
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

h1,
p,
legend {
    text-align: center;
}

input {
    background-color: black;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

.last-line {
    border: none;
}